/* Sidebar styles */
.sidebar {
  padding: 10px;
  width: 355px;
  height: 100vh;
  background-color: var(--darker-blue);
  color: var(--text-grey-color);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2f2f2f;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__burger {
  cursor: pointer;
  padding: 10px 12px;
  margin-right: 15px;
  margin-left: 5px;
  position: relative;
}
.nav__burger:hover {
  background-color: #2c2c2c;
  border-radius: 50%;
}
.nav__search-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #2c2c2c;
  padding: 15px 41px 15px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.nav__search-wrapper input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  color: #fff;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 5px;
  border-bottom: 1px solid #000;
  overflow-x: scroll;
  overflow-y: hidden;
}
.menu__btn-inner {
  display: flex;
  align-items: center;
}
.menu__btn {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--text-grey-color);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.menu__btn:hover {
  background-color: #2c2c2c;
  border-radius: 5px 5px 0 0;
}

.settings__item {
  display: flex;
  align-items: center;
  padding: 16px;
}
.settings__item:hover {
  background-color: #2c2c2c;
}
.settings__item h3 {
  font-weight: normal;
  font-size: 18px;
  margin-left: 20px;
  margin-right: auto;
}
.settings__decr {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: var(--text-grey-color);
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
}
.logout {
  font-weight: normal;
  font-size: 18px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  margin-right: auto;
  color: #fff;
  cursor: pointer;
}
