/*CUSTOM PROPERTIES*/
:root {
  /*Site Colors*/
  --darker-blue: #212121;
  --text-grey-color: #aaaaaa;
  --accent-color: #8774e1;
}

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 1px;
  background-color: #222222;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #191919;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.badge {
  padding: 2px 5px;
  background-color: #717579;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 300;
  margin-left: 5px;
}
.App {
  width: 1440px;
  margin: 0 auto;
}
